*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(103,103,105);
background: linear-gradient(90deg, rgba(103,103,105,1) 0%, rgba(109,219,216,1) 51%, rgba(225,238,194,1) 100%);
}


.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group {
    margin-bottom: 1rem;
}

form{
    padding-top: 2em;
}


ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

